<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS With For-Loops</title>
</head>
<body>
    
    <h1>For Loops</h1>
    <h2><%= fruitForUser.objectName %></h2>
    <% for(let i = 0; i < fruitForUser.fruit.length; i++ ) { %>
        <li><%= fruitForUser.fruit[i] %></li>
    <% } %>  

</body>
</html>